:root {
    --light: #ffffff;
    --gray-100: #d8d8d890;

    --text-dark: #2f384f;
    --text-second-dark: #757575;
    --primary: #ff9015;
}

body[data-theme="dark"] {
    --light: #363636;
    --gray-100: #43434390;

    --text-dark: #ffffff;
    --text-second-dark: #dbdbdb;
}

body {
    background-color: var(--light);
    overflow: visible;
}

.app-layout {
    overflow: unset;
}

#app-layout {
    overflow: visible;
}

.content-page {
    overflow: visible;
}

.topbar-custom .topnav-menu .nav-link {
    max-height: 55px;
    line-height: 55px
}

.topbar-custom {
    height: 55px;
    left: 0;
    padding: 0;
    top: 0;
    box-shadow: none;
    border-bottom: 1px solid var(--gray-100);
}

.app-sidebar-menu {
    top: 55px;
    padding-top: 10px;
    border-right: 1px solid var(--gray-100);
}

.logo-box {
    height: 55px;
    width: 200px;
    position: relative;
    padding: 0;
}

.logo-box .logo {
    line-height: 55px;
}

.logo-box .logo img {
    top: -7px;
    position: relative;
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1360px;
    }
}

#sidebar-menu>ul>li>a {
    font-size: .8rem;
    padding: 3px 20px;
    color: var(--text-dark);
}

#sidebar-menu .menu-title {
    padding: 4px 20px;
    color: var(--text-dark);
}

.nav-second-level li a {
    padding: 2px 20px;
    color: var(--text-dark);
    font-size: .78rem;

}

#sidebar-menu>ul>li>a {
    color: var(--text-second-dark);
}

.app-sidebar-menu .top-level-folder {
    font-weight: 700 !important;
    margin-top: 10px;
    color: var(--text-dark);
}

#sidebar-menu>ul>li>.top-level-folder {
    color: var(--text-dark);
    font-size: .8rem;
    padding: 3px 20px;
}

.sticky-sidebar {
    position: sticky;
    top: 85px;
    max-height: calc(100vh - 120px);
    overflow-y: auto;
    overflow: visible;
    border: none;
    min-height: 100px;
    border-right: none !important;
}

.sticky-sidebar .nav-pills a.nav-link {
    color: var(--text-second-dark);
    padding: 2px 0;
    font-size: 12px;
    position: relative;
}

.sticky-sidebar .nav-pills .nav-link.active {
    background-color: unset;
    color: var(--text-dark);
    font-weight: 600;
}

.on-this-page {
    text-transform: uppercase;
    font-weight: 700;
    margin: 12px 0;
    font-size: 12px;
}

.sticky-sidebar {
    position: sticky;
    top: 100px;
    max-height: calc(100vh - 120px);
    overflow: visible;
    position: sticky;
    padding-left: 12px;
}

.sticky-sidebar .nav {
    position: relative;
}


.sticky-sidebar .nav-link {
    position: relative;
    padding: 6px 12px 6px 20px;
    font-size: 14px;
    color: #6c757d;
    transition: color 0.2s ease;
}

.sticky-sidebar .nav-link:hover {
    color: #000;
}

.sticky-sidebar .nav-link.active {
    color: #000;
    font-weight: 500;
}


.sticky-sidebar .nav .nav {
    padding-left: 14px;
}



.sticky-sidebar .active-indicator {
    position: absolute;
    left: -10px;
    width: 4px;
    background-color: var(--primary);
    border-radius: 25px;
    transition:
        transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        height 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}


.sticky-sidebar::-webkit-scrollbar {
    width: 4px;
}

.sticky-sidebar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.doc-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}

.doc-pagination .prev-text,
.doc-pagination .next-text {
    font-size: 12px;
    color: #969696;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.doc-pagination a.prev-btn,
.doc-pagination a.next-btn {
    max-width: 48%;
}

.doc-pagination .prev-text {
    justify-content: start;
}

.doc-pagination .next-text {
    justify-content: end;
}

.doc-pagination .prev-page-title,
.doc-pagination .next-page-title {
    margin-top: 5px;
}

.doc-pagination .prev-text i,
.doc-pagination .next-text i {
    font-size: 18px;
}


/* From Uiverse.io by JkHuger */
/* Default */
.theme {
    display: flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
}

.theme__fill,
.theme__icon {
    transition: 0.3s;
}

.theme__fill {
    background-color: var(--bg);
    display: block;
    mix-blend-mode: difference;
    position: fixed;
    inset: 0;
    height: 100%;
    transform: translateX(-100%);
}

.theme__icon,
.theme__toggle {
    z-index: 1;
}

.theme__icon,
.theme__icon-part {
    position: absolute;
}

.theme__icon {
    display: block;
    top: 7px;
    left: 7px;
    width: 15px;
    height: 15px;
    zoom: 0.8;
}

.theme__icon-part {
    border-radius: 50%;
    box-shadow: 0.4em -0.4em 0 0.5em hsl(0, 0%, 100%) inset;
    top: calc(50% - 0.5em);
    left: calc(50% - 0.5em);
    width: 1em;
    height: 1em;
    transition: box-shadow var(--transDur) ease-in-out,
        opacity var(--transDur) ease-in-out,
        transform var(--transDur) ease-in-out;
    transform: scale(0.5);
}

.theme__icon-part~.theme__icon-part {
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.05em;
    top: 50%;
    left: calc(50% - 0.05em);
    transform: rotate(0deg) translateY(0.5em);
    transform-origin: 50% 0;
    width: 0.1em;
    height: 0.2em;
}

.theme__icon-part:nth-child(3) {
    transform: rotate(45deg) translateY(0.45em);
}

.theme__icon-part:nth-child(4) {
    transform: rotate(90deg) translateY(0.45em);
}

.theme__icon-part:nth-child(5) {
    transform: rotate(135deg) translateY(0.45em);
}

.theme__icon-part:nth-child(6) {
    transform: rotate(180deg) translateY(0.45em);
}

.theme__icon-part:nth-child(7) {
    transform: rotate(225deg) translateY(0.45em);
}

.theme__icon-part:nth-child(8) {
    transform: rotate(270deg) translateY(0.5em);
}

.theme__icon-part:nth-child(9) {
    transform: rotate(315deg) translateY(0.5em);
}

.theme__label,
.theme__toggle,
.theme__toggle-wrap {
    position: relative;
}

.theme__toggle,
.theme__toggle:before {
    display: block;
}

.theme__toggle {
    background-color: hsl(48, 90%, 85%);
    border-radius: 25px;
    box-shadow: 0 0 0 0.125em var(--primaryT);
    padding: 0.25em;
    width: 3.5em;
    height: 2em;
    -webkit-appearance: none;
    appearance: none;
    transition: background-color var(--transDur) ease-in-out,
        box-shadow 0.15s ease-in-out,
        transform var(--transDur) ease-in-out;
}

.theme__toggle:before {
    background-color: hsl(48, 90%, 55%);
    border-radius: 50%;
    content: "";
    width: 1.5em;
    height: 1.5em;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme__toggle:focus {
    box-shadow: 0 0 0 0.125em var(--primary);
    outline: transparent;
}

/* Checked */
.theme__toggle:checked {
    background-color: hsl(198, 90%, 15%);
}

.theme__toggle:checked:before,
.theme__toggle:checked~.theme__icon {
    transform: translateX(1.5em);
}

.theme__toggle:checked~.theme__icon {
    top: 7px;
    left: 17px;
}

.theme__toggle:checked:before {
    background-color: hsl(198, 90%, 55%);
}

.theme__toggle:checked~.theme__fill {
    transform: translateX(0);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(1) {
    box-shadow: 0.2em -0.2em 0 0.2em hsl(0, 0%, 100%) inset;
    transform: scale(1);
    top: 0.2em;
    left: -0.2em;
}

.theme__toggle:checked~.theme__icon .theme__icon-part~.theme__icon-part {
    opacity: 0;
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(2) {
    transform: rotate(45deg) translateY(0.8em);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(3) {
    transform: rotate(90deg) translateY(0.8em);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(4) {
    transform: rotate(135deg) translateY(0.8em);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(5) {
    transform: rotate(180deg) translateY(0.8em);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(6) {
    transform: rotate(225deg) translateY(0.8em);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(7) {
    transform: rotate(270deg) translateY(0.8em);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(8) {
    transform: rotate(315deg) translateY(0.8em);
}

.theme__toggle:checked~.theme__icon .theme__icon-part:nth-child(9) {
    transform: rotate(360deg) translateY(0.8em);
}

.theme__toggle-wrap {
    margin: 0 0.75em;
}

@supports selector(:focus-visible) {
    .theme__toggle:focus {
        box-shadow: 0 0 0 0.125em var(--primaryT);
    }

    .theme__toggle:focus-visible {
        box-shadow: 0 0 0 0.125em var(--primary);
    }
}

ul.topnav-menu button i.bx {
    font-size: 24px;
}

.topbar-custom .topnav-menu button.nav-link {
    padding: 0px 7px;
}

.topbar-search input {
    border-color: #d9d9d9bf;
}

.topbar-search .shortcut-badge {
    position: absolute;
    top: 6px;
    background: #e5e5e5ce;
    border-radius: 7px;
    padding: 3px 10px;
    right: 8px;
    color: #949494d5;

}
