.hide {
    display: none !important;
}

.hidden {
    display: hidden;
    visibility: hidden;
}

.must::after {
    content: "*";
    color: rgb(255, 122, 122);
    padding-left: 2px;
}

.text-theme {
    color: #10BC69;
}

.validation-error {
    color: #ed5565;
}

.link-underline-secondary {
    text-decoration: underline;

}

.link-underline-secondary:hover {
    text-decoration: none;
    color: #10BC69 !important;
}

.singleFileDropzone li,
.multipleFileDropzone li {
    list-style-type: none !important;
}

.singleFileDropzone .dz-remove,
.multipleFileDropzone .dz-remove {
    display: none !important;
}

.dropzone-prime-selector-area li {
    list-style-type: none !important;
}

.dropzone-prime-selector-area .dz-remove {
    display: none !important;
}



.files .upload-progress-card {

    padding: 10px 15px;
    border-radius: 0;


}

.files .upload-data {
    display: flex;
    gap: 8px;
    align-items: center;
}

.files .upload-data i.bi {
    font-size: 28px;
    font-weight: 900;
    padding: 0 5px;
}

.files .upload-data .title-area {
    display: flex;
    flex-direction: column;
}

.files .upload-data .title-area .title {
    font-size: 14px;
}

.files .upload-data .title-area .sub-title {
    font-size: 10px;
    display: flex;
    gap: 5px;
}

.files .upload-data .sub-title .divider {
    color: rgb(255, 184, 184);
}

.files .btn.stop-upload {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: transparent;

}

.files .btn.stop-upload:active {
    border: none !important;
    border-color: transparent;
}

.image-box {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    overflow: hidden;
    object-fit: cover;
}

.image-box img {
    max-width: 100%;
    height: auto;
}

.flex-no-wrap {
    flex-wrap: nowrap;
}

.file-selection-area .file-card {
    cursor: pointer;
}

.file-selection-area {
    max-height: 350px;
    overflow-y: auto;
    scrollbar-width: 0px;
}

.file-selection-area .file-card .title-area {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.file-selection-area .file-card .size {
    min-width: 100px;
    margin-left: auto;
    text-align: right;
}

.file-selection-area .file-card .file-card-body {
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.file-selection-area .file-card .file-card-body .bi {
    font-size: 24px;
    margin: 0 10px;
}

.select-file-modal .search-box-container {
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
}

.search-box-container .bx {
    position: absolute;
    top: 9px;
    font-size: 24px;
    left: 8px;
}

.search-box-container input {
    padding-left: 35px;
}

.preview-image-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    min-height: 200px;
    height: 100%;
}

.preview-image-box .selected_file_image {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #eef2f733;
    border: 1px solid #eef2f7e0;
    border-radius: 10px;
}

.preview-image-box .selected_file_image img {
    position: absolute;
    height: 200px;
    width: 200px;
    top: 0;
    left: 0;
}

.upload_file_input_dropzone {
    border: 2px dashed rgb(204, 204, 204);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.preview-image-box .selected_file_image .icon-container {
    position: absolute;
    height: 200px;
    width: 200px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-image-box .selected_file_image .icon-container .icon-bg {
    font-size: 80px;
}

.preview-image-box .text-content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    padding: 10px;
    opacity: 0;
}


@media(max-width: 600px) {

    .front-web .header .appname {
        font-size: 22px;
    }

    .hide-sm-600 {
        display: none;
    }

    .dz-complete .sm-center-content {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center !important;
    }
      .dz-complete .flex-shrink-0{
        margin: 0 !important;
      }
}

.front-web .semesters .branch-img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.front-web .terms h4 {
    font-family: inherit;
}

.front-web .semesters .branch-img img {
    width: 100%;
    height: 230px;
    object-fit: cover;

}

.front-web .semesters .book-img img {
    width: 100%;
    height: calc(100% * 1.414);
    object-fit: cover;
    border-radius: 5px;
}

.front-web .avatar-group .avatar-group-item {
    margin: 0 0 0 -12px;
    display: inline-block;
    border: 2px solid #eaedf1;
    border-radius: 50%;
}

.front-web .avatar-group a {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    text-decoration: none;
}

.front-web .avatar-group .avatar-xs {
    height: 2.5rem;
    width: 2.5rem;
}

.front-web .left-border-links a {
    border-left: 4px solid rgba(148, 148, 148, 0.658);
    border-radius: 0;
}

.front-web .card-shadow {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

.front-web .semester-card .title-area .title {
    color: #5f687b;
    font-size: 18px;
}

.front-web .semester-card .title-area .sub-title {
    color: #5f687b;
    font-size: 15px;
}

.front-web .semesters .semester-card .image-with-title .img-alt {
    width: 70px;
    height: 70px;
    font-size: 50px;
    margin-right: 10px;
}

.dim-1 {
    opacity: 0.2;
}

.dim-2 {
    opacity: 0.4;
}

.dim-3 {
    opacity: 0.6;
}

.dim-4 {
    opacity: 0.8;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.front-web .main .book-actions .green:hover {
    background-color: #0da159;
}

.front-web .main .book-actions .green:active,
.green:focus {
    background-color: #10BC69;
}

.front-web .main .book-actions .secondary {
    background-color: #373d44;
}

.front-web .main .book-actions .secondary:hover {
    background-color: #434b53;
}

.front-web .main .book-actions .secondary:active,
.green:focus {
    background-color: #373d44;
}

.front-web .main.book .author-badge {
    border: 1px solid rgb(255, 228, 179);
    padding: 10px;
    width: fit-content;
}

.front-web .main.book .filesize-badge {
    border: 1px solid rgba(12, 143, 12, 0.253);
    padding: 10px;
    width: fit-content;
}

.front-web .main.book .pages-badge {
    border: 1px solid rgb(184, 235, 255);
    padding: 10px;
    width: fit-content;
}

@media (max-width: 980px) {
    .page-title {
        display: none;
    }
}

/* started share section */

@media (max-width: 767px) {
    .shareSocial .socialTitle {
        margin-bottom: 15px;
        text-align: center;
    }
}

table[data-table="laravel"] th div {
    display: flex;
    justify-content: space-between;
}

.cursor-default {
    cursor: default;
}

.profile .profile-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}


@media (max-width: 1199px) {
    .hide-on-sm {
        display: none;
    }

    .hero-section iframe.frame-style {
        height: 355px;
    }

    .search-btn.hide-on-sm {
        display: none;
    }

    .mobile-nav-active .search-btn.hide-on-large.not-login {
        margin-top: 12px;
        width: 38px;
        height: 38px;
        font-size: 22px;
    }

    .search-btn.hide-on-large.not-login:not(.mobile-nav-active .search-btn.hide-on-large.not-login) {
        margin-left: 0 !important;
        margin-right: 5px;
        width: 38px;
        height: 38px;
        font-size: 20px;
    }

}
