:root {
    --light: #ffffff;
    --gray-100: #d8d8d890;
    --gray-200: #c1c0c0ab;
    --gray-300: #bfbebec0;
    --gray-400: #d8d8d8ec;
    --dark: #2f384f;

    --text-dark: #2f384f;
    --text-second-dark: #757575;

    --primary: #8cb730;
    --primary-light: #f2fce8;
    --primary-dark: #93aa40;
}

[data-theme="dark"] {
    --light: #2a2b2c;
    --gray-100: #494c4eca;

    --text-dark: #ffffff;
    --text-second-dark: #dbdbdb;

    --primary-light: #c6ff8e33;
}

.md-render {
    width: 100%;
    color: var(--text-dark);
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* Images */
.md-render img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 6px;
}

/* Tables */
.md-render table {
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse;
    margin: 1.5rem 0;
    font-size: 0.7rem;
    background: var(--light);
}

.md-render th,
.md-render td {
    padding: 0.5rem 0.8rem;
    text-align: left;
    border: 1px solid var(--gray-200);
    color: var(--text-dark);
}

.md-render th {
    font-weight: 600;
    background: var(--gray-100);
}

.md-render tbody tr:nth-child(even) {
    background: var(--primary-light);
}

.md-render tbody tr:hover {
    background: var(--gray-100);
}

/* Blockquotes */
.md-render blockquote {
    margin: 1.5rem 0;
    padding: 1rem 1.25rem;
    border-left: 4px solid var(--primary);
    background: var(--primary-light);
    /* border-radius: 6px; */
    color: var(--text-second-dark);
}

.md-render blockquote h1,
.md-render blockquote h2,
.md-render blockquote h3,
.md-render blockquote h4,
.md-render blockquote h5,
.md-render blockquote h6 {
    margin-top: 0;
}

.md-render blockquote h1,
.md-render blockquote h2,
.md-render blockquote h3 {
    margin-left: 0.8rem;
}

.md-render blockquote p {
    margin: 0;
    line-height: 1.7;
}

.md-render blockquote p+p {
    margin-top: 0.75rem;
}

.md-render blockquote p:first-child {
    font-weight: 600;
    color: var(--text-dark);
}

/* Inline code */
.md-render code {
    padding: 0.15rem 0.4rem;
    border-radius: 4px;
    background: var(--gray-100);
    color: var(--primary-dark);
    font-size: 0.9em;
    position: relative;
}

/* Code blocks */
.md-render pre {
    margin: 1.5rem 0;
    padding: 1rem;
    overflow-x: auto;
    border-radius: 8px;
    background: var(--dark);
    position: relative;
}

.md-render pre button.copy-button {
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    font-size: 18px;
    color: #fff;
}

.md-render pre button.code-copy-btn {
    display: none;
}

.md-render pre code {
    padding: 0;
    background: transparent;
    color: #f8fafc;
    font-size: 0.9rem;
}

/* Lists */
.md-render ul,
.md-render ol {
    margin: 1rem 0;
    padding-left: 1.5rem;
}

.md-render li+li {
    margin-top: 0.4rem;
}

/* Horizontal rule */
.md-render hr {
    margin: 2rem 0;
    border: 0;
    border-top: 1px solid var(--gray-200);
}

/* Links */
.md-render a {
    color: var(--primary-dark);
    text-decoration: none;
}

.md-render a:hover {
    text-decoration: underline;
}

/* Headings */
.md-render h1,
.md-render h2,
.md-render h3,
.md-render h4,
.md-render h5,
.md-render h6 {
    margin: 1.5rem 0 0.75rem;
    color: var(--text-dark);
    line-height: 1.3;
}

.md-render p {
    margin: 1rem 0;
    line-height: 1.8;
    color: var(--text-second-dark);
}

/* Base Alert */
.markdown-alert {
    margin: 1rem 0;
    padding: 1rem;
    border-left: 4px solid;
    color: var(--text-dark);
}



.markdown-alert .markdown-alert-title i {
    font-size: 1rem;
    flex-shrink: 0;
}

.markdown-alert> :last-child {
    margin-bottom: 0;
}

.markdown-alert .markdown-alert-title {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: 0;
    margin-bottom: .5rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25;
}

.markdown-alert p,
.markdown-alert li,
.markdown-alert td,
.markdown-alert th,
.markdown-alert blockquote,
.markdown-alert code {
    color: var(--text-dark);
}

.markdown-alert p {
    margin-bottom: .75rem;
}

.markdown-alert ul,
.markdown-alert ol {
    margin-bottom: .75rem;
    padding-left: 1.5rem;
}

.markdown-alert pre,
.markdown-alert blockquote,
.markdown-alert table {
    margin-bottom: .75rem;
}

/* NOTE */
.markdown-alert.markdown-alert-note {
    background-color: rgb(13 110 253 / 8%);
    border-left-color: #0d6efd;
}

.markdown-alert.markdown-alert-note .markdown-alert-title {
    color: #0d6efd;
}

/* TIP */
.markdown-alert.markdown-alert-tip {
    background-color: rgb(25 135 84 / 8%);
    border-left-color: #198754;
}

.markdown-alert.markdown-alert-tip .markdown-alert-title {
    color: #198754;
}

/* IMPORTANT */
.markdown-alert.markdown-alert-important {
    background-color: rgb(111 66 193 / 8%);
    border-left-color: #6f42c1;
}

.markdown-alert.markdown-alert-important .markdown-alert-title {
    color: #6f42c1;
}

/* WARNING */
.markdown-alert.markdown-alert-warning {
    background-color: rgb(255 193 7 / 10%);
    border-left-color: #ffc107;
}

.markdown-alert.markdown-alert-warning .markdown-alert-title {
    color: #d39e00;
}

/* CAUTION */
.markdown-alert.markdown-alert-caution {
    background-color: rgb(220 53 69 / 8%);
    border-left-color: #dc3545;
}

.markdown-alert.markdown-alert-caution .markdown-alert-title {
    color: #dc3545;
}


/* Task list */
.md-render ul:has(> li > input[type="checkbox"]) {
    list-style: none;
    padding-left: 0;
    margin: 1rem 0;
}

.md-render ul:has(> li > input[type="checkbox"])>li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: .6rem;
    margin: .5rem 0;
    color: var(--text-dark);
}

.md-render ul:has(> li > input[type="checkbox"])>li>input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;

    width: 18px;
    height: 18px;
    margin: 0;

    border: 2px solid var(--primary);
    border-radius: 4px;
    background: var(--light);

    display: grid;
    place-items: center;
    cursor: default;
    flex-shrink: 0;
    transition: .2s;
}

.md-render ul:has(> li > input[type="checkbox"])>li>input[type="checkbox"]::before {
    content: "✓";
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    transform: scale(0);
    transition: .15s ease;
}

.md-render ul:has(> li > input[type="checkbox"])>li>input[type="checkbox"]:checked {
    background: var(--primary);
    border-color: var(--primary);
}

.md-render ul:has(> li > input[type="checkbox"])>li>input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.md-render ul:has(> li > input[type="checkbox"])>li>input[type="checkbox"]:disabled {
    opacity: .9;
}

.md-render ul:has(> li > input[type="checkbox"])>li:has(> input[type="checkbox"]:checked) {
    color: var(--text-second-dark);
}
