:root,
[data-bs-theme=light] {
    --bs-blue: #FF8600;
    --bs-indigo: #522c8f;
    --bs-purple: #8c57d1;
    --bs-pink: #963b68;
    --bs-red: #ec8290;
    --bs-orange: #e68434;
    --bs-yellow: #eb9d59;
    --bs-green: #29aa85;
    --bs-teal: #5be7bd;
    --bs-cyan: #62B7E5;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #f0f4f7;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #4a5a6b;
    --bs-gray-800: #343a40;
    --bs-gray-900: #001b2f;
    --bs-primary: #FF8600;
    --bs-secondary: #8c57d1;
    --bs-success: #29aa85;
    --bs-info: #62B7E5;
    --bs-warning: #eb9d59;
    --bs-danger: #ec8290;
    --bs-light: #f0f4f7;
    --bs-dark: #4a5a6b;
    --bs-dark-blue: #1372FF;
    --bs-primary-rgb: 255, 134, 0;
    --bs-secondary-rgb: 140, 87, 209;
    --bs-success-rgb: 41, 170, 133;
    --bs-info-rgb: 98, 183, 229;
    --bs-warning-rgb: 235, 157, 89;
    --bs-danger-rgb: 236, 130, 144;
    --bs-light-rgb: 240, 244, 247;
    --bs-dark-rgb: 74, 90, 107;
    --bs-primary-text-emphasis: #213160;
    --bs-secondary-text-emphasis: #382354;
    --bs-success-text-emphasis: #104435;
    --bs-info-text-emphasis: #27495c;
    --bs-warning-text-emphasis: #5e3f24;
    --bs-danger-text-emphasis: #5e343a;
    --bs-light-text-emphasis: #4a5a6b;
    --bs-dark-text-emphasis: #4a5a6b;
    --bs-primary-bg-subtle: #ffa73b8c;
    --bs-secondary-bg-subtle: #e8ddf6;
    --bs-success-bg-subtle: #d4eee7;
    --bs-info-bg-subtle: #e0f1fa;
    --bs-warning-bg-subtle: #fbebde;
    --bs-danger-bg-subtle: #fbe6e9;
    --bs-light-bg-subtle: #fcfcfd;
    --bs-dark-bg-subtle: #ced4da;
    --bs-primary-border-subtle: #bacaf9;
    --bs-secondary-border-subtle: #d1bced;
    --bs-success-border-subtle: #a9ddce;
    --bs-info-border-subtle: #c0e2f5;
    --bs-warning-border-subtle: #f7d8bd;
    --bs-danger-border-subtle: #f7cdd3;
    --bs-light-border-subtle: #f0f4f7;
    --bs-dark-border-subtle: #adb5bd;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-font-sans-serif: "Public Sans", sans-serif;
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 0.875rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #4a5a6b;
    --bs-body-color-rgb: 74, 90, 107;
    --bs-body-bg: #fff;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-emphasis-color: #000;
    --bs-emphasis-color-rgb: 0, 0, 0;
    --bs-secondary-color: rgba(74, 90, 107, 0.75);
    --bs-secondary-color-rgb: 74, 90, 107;
    --bs-secondary-bg: #eaeef7;
    --bs-secondary-bg-rgb: 234, 238, 247;
    --bs-tertiary-color: rgba(74, 90, 107, 0.5);
    --bs-tertiary-color-rgb: 74, 90, 107;
    --bs-tertiary-bg: #f8f9fa;
    --bs-tertiary-bg-rgb: 248, 249, 250;
    --bs-heading-color: inherit;
    --bs-link-color: #FF8600;
    --bs-link-color-rgb: 255, 134, 0;
    --bs-link-decoration: none;
    --bs-link-hover-color: #FC5203;
    --bs-link-hover-color-rgb: 252, 82, 3;
    --bs-code-color: #963b68;
    --bs-highlight-color: #4a5a6b;
    --bs-highlight-bg: #fbebde;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(173, 181, 189, 0.175);
    --bs-border-radius: 0.325rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-xxl: 2rem;
    --bs-border-radius-2xl: var(--bs-border-radius-xxl);
    --bs-border-radius-pill: 50rem;
    --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --bs-box-shadow-sm: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.04);
    --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --bs-focus-ring-width: 0;
    --bs-focus-ring-opacity: 0.25;
    --bs-focus-ring-color: rgba(255, 134, 0, 0.25);
    --bs-form-valid-color: #29aa85;
    --bs-form-valid-border-color: #29aa85;
    --bs-form-invalid-color: #ec8290;
    --bs-form-invalid-border-color: #ec8290
}

[data-bs-theme=dark] {
    color-scheme: dark;
    --bs-body-color: #dee2e6;
    --bs-body-color-rgb: 222, 226, 230;
    --bs-body-bg: #212529;
    --bs-body-bg-rgb: 33, 37, 41;
    --bs-emphasis-color: #fff;
    --bs-emphasis-color-rgb: 255, 255, 255;
    --bs-secondary-color: rgba(222, 226, 230, 0.75);
    --bs-secondary-color-rgb: 222, 226, 230;
    --bs-secondary-bg: #343a40;
    --bs-secondary-bg-rgb: 52, 58, 64;
    --bs-tertiary-color: rgba(222, 226, 230, 0.5);
    --bs-tertiary-color-rgb: 222, 226, 230;
    --bs-tertiary-bg: #2b3035;
    --bs-tertiary-bg-rgb: 43, 48, 53;
    --bs-primary-text-emphasis: #6ea8fe;
    --bs-secondary-text-emphasis: #a7acb1;
    --bs-success-text-emphasis: #75b798;
    --bs-info-text-emphasis: #6edff6;
    --bs-warning-text-emphasis: #ffda6a;
    --bs-danger-text-emphasis: #ea868f;
    --bs-light-text-emphasis: #f8f9fa;
    --bs-dark-text-emphasis: #dee2e6;
    --bs-primary-bg-subtle: #031633;
    --bs-secondary-bg-subtle: #161719;
    --bs-success-bg-subtle: #051b11;
    --bs-info-bg-subtle: #032830;
    --bs-warning-bg-subtle: #332701;
    --bs-danger-bg-subtle: #2c0b0e;
    --bs-light-bg-subtle: #343a40;
    --bs-dark-bg-subtle: #1a1d20;
    --bs-primary-border-subtle: #084298;
    --bs-secondary-border-subtle: #41464b;
    --bs-success-border-subtle: #0f5132;
    --bs-info-border-subtle: #087990;
    --bs-warning-border-subtle: #997404;
    --bs-danger-border-subtle: #842029;
    --bs-light-border-subtle: #495057;
    --bs-dark-border-subtle: #343a40;
    --bs-heading-color: inherit;
    --bs-link-color: #6ea8fe;
    --bs-link-hover-color: #8bb9fe;
    --bs-link-color-rgb: 110, 168, 254;
    --bs-link-hover-color-rgb: 139, 185, 254;
    --bs-code-color: #e685b5;
    --bs-highlight-color: #dee2e6;
    --bs-highlight-bg: #664d03;
    --bs-border-color: #495057;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
    --bs-form-valid-color: #75b798;
    --bs-form-valid-border-color: #75b798;
    --bs-form-invalid-color: #ea868f;
    --bs-form-invalid-border-color: #ea868f
}

body.locking {
    filter: grayscale(1);
}

.invisible-block {
    display: block !important;
    visibility: hidden !important;
}

/* Open Animation */
@keyframes scale-in {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.form-range::-moz-range-track {
    background-color: #ebd8fd;
}

.form-range:active:-moz-range-thumb {
    background-color: var(--bs-primary);
}

.modal.fade:not(.show) {
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .20s linear;
    -o-transition: all .20s linear;
    transition: all .20s linear;
}

.modal.show {
    animation: scale-in 0.2s ease-out;
}

.modal.show .modal-dialog {
    transform: none;
    transition: none;
}

.modal.fade .modal-dialog {
    transform: none;
    transition: none;
}

.active>.page-link,
.page-link.active {
    top: -1px;
}

input[type=number].hide-btns::-webkit-inner-spin-button,
input[type=number].hide-btns::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.rename-modal .modal-header {
    border: none;
}

.rename-modal .modal-footer {
    border: none;
    padding-top: 0;
}

.rename-modal input {
    border-radius: 0px;
    padding: 10px;
}

.relative-l-1 {
    position: relative;
    left: 1px;
}

.rename-modal .modal-body {
    padding-top: 0;
    padding-bottom: 0;
}

.rename-modal .modal-content {
    border-radius: 0px;
}

.cursor-pointer {
    cursor: pointer;
}

.rename-modal .modal-dialog {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.rename-badge {
    max-width: 310px;
    text-wrap: wrap;
    word-wrap: break-word;
    text-align: left;
}



.action-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.action-container .info {
    margin-left: auto;
}

.action-container i {
    font-size: 18px;
    margin-left: 4px;
    cursor: pointer;
}

.action-container .ago-string {
    font-size: 12px;
    color: var(--bs-gray-500)
}

.action-container .delete {
    color: var(--bs-danger);
}

.action-container .edit {
    color: var(--bs-success);
}

.action-container .info {
    color: var(--bs-dark);
}

.btn-no-style {
    background-color: transparent;
    border: 0;
    padding: 0;
}

/*  --------------------- actions tab ------------------- */

.ob-actions-tab .action {
    width: 60px;
    height: 60px;
    font-size: 30px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
}

.ob-actions-tab .action.delete {
    background-color: #ffe4e485 !important;
    color: #ff3f2b !important;
    border: 1px solid #ffbfbf !important;
}

.ob-actions-tab .action.edit {
    background-color: #E1FFEB !important;
    color: #0dc13a !important;
    border: 1px solid #88e19a !important;
}

.ob-actions-tab .action.make-private {
    background-color: #ffeedd85 !important;
    color: #ff7836 !important;
    border: 1px solid #ffab3f !important;
}

.like-btn,
.dislike-btn {
    border: none;
    padding: 0;
    background: transparent;
    color: var(--bs-dark);
    font-size: 18px;
    cursor: pointer;
}

/* Begin : comment section css */

/* ---------- Comment images ---------- */
.comment-section .comment-img {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-color: var(--bs-secondary-bg);
}

.comment-section .comment-replies .comment-img {
    width: 1.75rem;
    height: 1.75rem;
}

.comment-section .comment a,
.comment-section .comment-replies a {
    text-decoration: none !important;
}

/* ---------- Buttons (secondary) ---------- */
.comment-section .sort-btn.btn-secondary,
.comment-section .comment .btn-secondary,
.comment-section .comment-replies .btn-secondary {
    --bs-btn-box-shadow: none;
    --bs-btn-focus-box-shadow: none;
    --bs-btn-hover-shadow: none;
    --bs-btn-active-shadow: none;
    --bs-btn-border-color: transparent;
    --bs-btn-focus-border-color: transparent;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-border-color: transparent;
    --bs-btn-color: var(--bs-body);
    --bs-btn-hover-color: var(--bs-body);
    --bs-btn-active-color: var(--bs-body);
    --bs-btn-bg: transparent;
    --bs-btn-hover-bg: rgba(var(--bs-secondary-rgb), .075);
    --bs-btn-active-bg: rgba(var(--bs-secondary-rgb), .15);
}

/* ---------- Buttons (primary) ---------- */
.comment-section .comment .btn-primary,
.comment-section .comment-replies .btn-primary {
    --bs-btn-box-shadow: none;
    --bs-btn-focus-box-shadow: none;
    --bs-btn-hover-shadow: none;
    --bs-btn-active-shadow: none;
    --bs-btn-border-color: transparent;
    --bs-btn-focus-border-color: transparent;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-border-color: transparent;
    --bs-btn-color: var(--bs-primary);
    --bs-btn-hover-color: var(--bs-primary);
    --bs-btn-active-color: var(--bs-primary);
    --bs-btn-bg: transparent;
    --bs-btn-hover-bg: rgba(var(--bs-primary-rgb), .075);
    --bs-btn-active-bg: rgba(var(--bs-primary-rgb), .15);
}

/* ---------- Buttons (danger) ---------- */
.comment-section .comment .btn-danger,
.comment-section .comment-replies .btn-danger {
    --bs-btn-box-shadow: none;
    --bs-btn-focus-box-shadow: none;
    --bs-btn-hover-shadow: none;
    --bs-btn-active-shadow: none;
    --bs-btn-border-color: transparent;
    --bs-btn-focus-border-color: transparent;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-border-color: transparent;
    --bs-btn-color: var(--bs-danger);
    --bs-btn-hover-color: var(--bs-danger);
    --bs-btn-active-color: var(--bs-danger);
    --bs-btn-bg: transparent;
    --bs-btn-hover-bg: rgba(var(--bs-danger-rgb), .075);
    --bs-btn-active-bg: rgba(var(--bs-danger-rgb), .15);
}

/* ---------- Comment compose input ---------- */
.comment-section .form-floating.comment-compose>.form-control,
.comment-section .form-floating.comment-compose>.form-control:focus {
    border: 0;
    box-shadow: none;
    background-color: transparent;
    border-bottom: 2px var(--bs-border-style) var(--bs-dark-border-subtle);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 1rem .15rem .5rem;
}

.comment-section .form-floating.comment-compose>label,
.comment-section .form-floating.comment-compose>.form-control:focus~label::after,
.comment-section .form-floating.comment-compose>.form-control:not(:placeholder-shown)~label::after {
    color: var(--bs-secondary-color);
    background-color: transparent;
    padding: 0;
    line-height: 1;
}

/* ---------- Chevron toggle ---------- */
.comment-section .comment .btn[data-bs-toggle=collapse][aria-expanded=true] .chevron-down,
.comment-section .comment .btn[data-bs-toggle=collapse][aria-expanded=false] .chevron-up {
    display: none;
}

/* ============================================================= */
/* ======================= ICON SYSTEM ========================== */
/* ============================================================= */

.comment-section {
    --sk-icon-size: 1em;
    --sk-icon-btn-color: inherit;
    --sk-icon-btn-size: 1.5rem;
    --sk-icon-btn-padding: .5rem;
    --sk-icon-btn-hover-color: inherit;
    --sk-icon-btn-hover-bg: currentcolor;
    --sk-icon-btn-active-color: inherit;
    --sk-icon-btn-active-bg: currentcolor;
}

/* Base SVG icon */
.comment-section .svg-icon,
.comment-section .ski,
.comment-section .icon-btn svg,
.comment-section .icon-btn img,
.comment-section .icon-btn-base svg,
.comment-section .icon-btn-base img {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: var(--sk-icon-size);
    height: var(--sk-icon-size);
    fill: currentcolor;
}

.comment-section .ski::before {
    font-size: var(--sk-icon-size);
}

/* Base icon button */
.comment-section .icon-btn,
.comment-section .icon-btn-base {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: var(--sk-icon-btn-size);
    height: var(--sk-icon-btn-size);
    font-size: var(--sk-icon-btn-size);
    line-height: 1;
    padding: var(--sk-icon-btn-padding);
    box-sizing: content-box;
    aspect-ratio: 1 / 1;
}

/* Icon button style */
.comment-section .icon-btn {
    color: var(--sk-icon-btn-color);
    background-color: transparent;
    border-radius: 50%;
    border: 0;
    outline: solid 1px transparent;
}

.comment-section .icon-btn:hover {
    color: var(--sk-icon-btn-hover-color);
    background-color: var(--bs-primary);
    background-color: color-mix(in srgb, var(--sk-icon-btn-hover-bg) 10%, transparent);
}

.comment-section .icon-btn:hover:active {
    color: var(--sk-icon-btn-active-color);
    background-color: rgba(0, 0, 0, 0.2);
    outline-color: rgba(0, 0, 0, 0.4);
    background-color: color-mix(in srgb, var(--sk-icon-btn-active-bg) 20%, transparent);
    outline-color: color-mix(in srgb, var(--sk-icon-btn-active-bg) 40%, transparent);
}

.comment-section .link-body-emphasis {
    color: rgba(255, 90, 90, 0.878) !important
}

.comment-section .link-body-emphasis:hover {
    color: rgba(255, 69, 69, 0.932) !important
}

.loading-btn .spinner-border {
    display: none;
}

.loading-btn.loading {
    opacity: 0.8;
    cursor: not-allowed;
}

.loading-btn.loading .spinner-border {
    display: inline-block;
}

.reply-form textarea.form-control {
    height: 20px;
    min-height: 20px;
    padding: 0 !important;
}

.comment-section .reply-form .comment-img {
    width: 2rem;
    height: 2rem;
}

.comment-section .deleting {
    filter: grayscale(1);
    position: relative;
}

.comment-section .deleting::after {
    content: "Deleting...";
    position: absolute;
    right: 0px;
    top: 2px;
}

.comment-section .icon-btn .svg-icon.active {
    display: none !important;
}

.comment-section .icon-btn .svg-icon.inactive {
    display: inline !important;
}

.comment-section .icon-btn.filled .svg-icon.active {
    display: inline !important;
}

.comment-section .icon-btn.filled .svg-icon.inactive {
    display: none !important;
}

/* End : comment section css */
p {
    color: var(--bs-dark-text-emphasis);
}

.note-frame {
    color: #39383c !important;
}

.resize-none {
    resize: none;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ob-text-wrap {
    word-break: break-all;
}

.folder-factory .folder-card {
    position: relative;
}

.folder-factory .folder-card .card-body {
    padding: 15px 10px;
    display: flex;
    align-items: center;
}

.folder-factory .folder-card .image-with-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}



.folder-factory .folder-card .actions {
    display: flex;
    height: 100%;
    margin-left: auto;
    align-items: center;
}

.folder-factory .folder-card .image-with-title .img-alt {
    width: 50px;
    height: 50px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: rgba(53, 61, 79, 0.547);
}

.folder-factory .svg-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    gap: 8px;
}

.folder-factory .svg-grid input[type="radio"] {
    display: none;
}

.folder-factory .svg-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0;
    padding: 12px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: 1px solid #e1e1e1;
}

.folder-factory .svg-card::before {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    width: 18px;
    height: 18px;
    border: 2px solid #e3e3e3c7;
    background: #fff;
    transition: all 0.2s ease-in-out;
    border-radius: 0px;
}

.folder-factory .svg-grid input[type="radio"]:checked+.svg-card {
    border-color: #4a90e2;
}

.folder-factory .svg-grid input[type="radio"]:checked+.svg-card::before {
    border-color: #4a90e2;
    background: #4a90e2;
    box-shadow: inset 0 0 0 3px #fff;
}

.folder-factory .svg-card svg {
    width: 48px;
    height: 48px;
    pointer-events: none;
}


/* BEGIN - plain-datatable */
.plain-datatable .dataTables_wrapper thead tr th {
    display: none;
}

.plain-datatable .dataTables_wrapper .dataTables_length,
.plain-datatable .dataTables_wrapper .dataTables_filter,
.plain-datatable .dataTables_wrapper .dataTables_info,
.plain-datatable .dataTables_wrapper .dataTables_paginate {
    display: none;
}

/* END - plain-datatable */
/* Remove default accordion arrow */
.plain-accordion .accordion-button::after {
    display: none;
}

/* Flex layout for desktop */
.plain-accordion .accordion-button {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 1rem;
}

.plain-accordion .file-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.plain-accordion .accordion-button .icon {
    flex: 0 0 auto;
    font-size: 1.2rem;
}

.plain-accordion .accordion-button .name {
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 768px) {

    .plain-accordion .accordion-button .type,
    .plain-accordion .accordion-button .size,
    .plain-accordion .accordion-button .date,
    .plain-accordion .accordion-button .action {
        display: none;
    }
}

.plain-accordion .accordion-body .details {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.plain-accordion .accordion-button {
    cursor: default;
}

.plain-accordion .accordion-body {
    padding-left: 50px;
}

.plain-accordion .accordion-item {
    border-radius: 0 !important;
}

.w-fit-content {
    min-width: fit-content;
}

.select2-container--bootstrap-5 .select2-selection {
    border-color: #ececec !important;
}

.img-badge-30 {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid #d8d8d8;
    object-fit: contain;
}

.img-badge-40 {
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid #d8d8d8;
    object-fit: contain;
}

.img-badge-50 {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid #d8d8d8;
    object-fit: contain;
}

.img-badge-60 {
    width: 60px;
    height: 60px;
    background-color: white;
    border: 1px solid #d8d8d8;
    object-fit: contain;
}

.accordion-item .list-icon {
    font-size: 35px;
    padding: 2px;
}

.cursor-default {
    cursor: default;
}

.min-w-100 {
    min-width: 100px;
}

.min-w-150 {
    min-width: 150px;
}

.min-w-200 {
    min-width: 200px;
}

.deleting {
    background: var(--bs-danger-bg-subtle);
    cursor: not-allowed;
    border-color: var(--bs-danger) !important;

}

.deleting .accordion-button {
    color: var(--bs-danger);

}

.deleting .text-dark,
.deleting .text-muted {
    color: var(--bs-danger) !important;
}

.deleting img {
    border-color: var(--bs-danger);
    background: var(--bs-danger-bg-subtle);
}

.delete-error {
    background: var(--bs-warning-bg-subtle);

}

.delete-error .accordion-button {
    color: var(--bs-warning);
}

.delete-error img {
    border-color: var(--bs-warning);
    background: var(--bs-warning-bg-subtle);
}

.border-bottom-primary-3 {
    border-bottom: 2px solid #789aff9a !important;
}

.loadable::before {
    content: "$";
    position: relative;
    top: 2;
    left: 2;
}

.folder-card .folder-actions {
    position: absolute;
    right: 10px;
    top: 38%;
}


.mh-70-vh {
    max-height: 70vh !important;
}

/* BEGIN -  project section */
.card-img-top {
    width: 100%;
    aspect-ratio: 4/3;
    width: height ratio;
    object-fit: cover;
}

.truncate-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: calc(1.5em * 2);
}

.truncate-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height: calc(1.5em * 3);
}

.truncate-4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    max-height: calc(1.5em * 4);
}

/*contact slip style*/
.chip {
    display: inline-block;
    padding: 0 15px 0 25px;
    height: 40px;
    font-size: 14px;
    line-height: 36px;
    border-radius: 25px;
    border: 1px solid var(--bs-gray-300);
}

.icon-20 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 0;
}

.circle-20 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style-type: 20px;
    font-size: 14px;
    border: 1px solid #dee2e6;
}

.circle-40 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style-type: 40px;
    font-size: 25px;
    border: 1px solid #dee2e6;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.chip .closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.chip .closebtn:hover {
    color: #000;
}

.pick-user-model #user-results {
    display: flex;
    flex-direction: column;
    gap: 0.20rem;
}

.pick-user-model .user-item {
    display: flex;
    align-items: center;
    padding: 6px;
    color: inherit;
    border-radius: 5px;
    border: 1px solid transparent;

}

.pick-user-model .user-item:hover {
    border: 1px solid var(--bs-gray-300);
}

.pick-user-model .user-item img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #dee2e6;
    margin-right: 0.75rem;
    flex-shrink: 0;
}

.pick-user-model .user-item span {
    font-weight: 600;
}

.avatar-list-stacked {
    display: flex;
    align-items: center;
}

.avatar-list-stacked .avatar {
    margin-inline-end: -.45rem;
    border-width: 2px;
    border-color: transparent;
    vertical-align: middle;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .2s;
    transition-timing-function: linear;
}

.avatar-rounded,
.avatar-rounded img {
    border-radius: 9999px !important;
}

.avatar {
    position: relative;
    display: inline-flex;
    height: 2.625rem;
    width: 2.625rem;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.avatar-rounded img {
    border-radius: 9999px !important;
}

.avatar img {
    height: 100%;
    width: 100%;
    border-radius: .25rem;
}

.border-dashed {
    border-style: dashed !important;
}

.avatar-list-stacked .avatar:hover {
    z-index: 1;
    --tw-scale-x: 1.15;
    --tw-scale-y: 1.15;
    transform: translate(0, 0) rotate(0) skew(0) skewY(0) scaleX(1.15) scaleY(1.15);
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.ck.ck-toolbar.ck-toolbar_grouping>.ck-toolbar__items {
    flex-wrap: wrap !important;
}

.input-group .select2-selection.select2-selection--single {
    border-color: #d5d5d5 !important;
}

.priority-low {
    color: var(--bs-success);
}

.priority-medium {
    color: rgb(255, 225, 94);
}

.priority-high {
    color: orange;
}

.priority-urgent {
    color: var(--bs-danger);
}

/* BEGIN - Ribbon style */
.ribbon-3.top-right {
    inset-inline-end: .625rem;
    border-top-right-radius: 10px;
}

.ribbon-3 {
    position: absolute;
    top: -.5rem;
    --tw-text-opacity: 1;
    color: var(--bs-primary);
}

.ribbon-3 span {
    position: relative;
    z-index: 6;
    display: block;
    width: 33px;
    padding: 8px 5px 5px 6px;
    text-align: center;
    font-size: 13px;
    line-height: 1;
}

.ribbon-3 {
    --tw-text-opacity: 1;
    color: var(--bs-light);
}

.ribbon-3 span {
    text-align: center;
    font-size: 20px;
    line-height: 1;
}

.ribbon-3.top-right span::after {
    inset-inline-start: -7px;
    border-radius: 50px 0 0;
}

.ribbon-3 span::after {
    position: absolute;
    top: 0;
    height: 7px;
    width: 7px;
    --tw-content: "";
    content: var(--tw-content);
}

.ribbon-3::after {
    border-top-width: 10px;
    border-style: solid;
    content: "";

}

.ribbon-3::after {
    position: absolute;
    z-index: 6;
    height: 0px;
    width: 0px;
    border-left-width: 16px;
    border-right-width: 17px;
    border-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    --tw-content: "";
    content: "";
    border-bottom: 0px;
}

.ribbon-3.ribbon-red {
    --ribbon-bgcolor: #ffd7d7;
    --ribbon-color: #fc7f7f;
    --ribbon-shadow-color: #fa3b3b;
}

.ribbon-3.ribbon-orange {
    --ribbon-bgcolor: #ffe8d0;
    --ribbon-color: #fdb24f;
    --ribbon-shadow-color: #faa73b;
}

.ribbon-3.ribbon-yellow {
    --ribbon-bgcolor: #fff9c2;
    --ribbon-color: #ffe711;
    --ribbon-shadow-color: #e9d900;
}

.ribbon-3.ribbon-green {
    --ribbon-bgcolor: #d1ffd9;
    --ribbon-color: #17dd42;
    --ribbon-shadow-color: #129b19;
}

.ribbon-3.ribbon-black {
    --ribbon-bgcolor: #8d8d8d;
    --ribbon-color: #171a18;
    --ribbon-shadow-color: #1f212b;
}

.ribbon-3.ribbon-white {
    --ribbon-bgcolor: #e0dfe7;
    --ribbon-color: #ffffff;
    --ribbon-shadow-color: #bbbbbb;
}

.ribbon-3.ribbon-brown {
    --ribbon-bgcolor: #d8a59e;
    --ribbon-color: #995e56;
    --ribbon-shadow-color: #5c3631;
}

.ribbon-3.ribbon-blue {
    --ribbon-bgcolor: #d1ddff;
    --ribbon-color: #FF8600;
    --ribbon-shadow-color: #436ff1;
}

.ribbon-3.ribbon-purple {
    --ribbon-bgcolor: #ecd7ff;
    --ribbon-color: #bf7ffc;
    --ribbon-shadow-color: #9d3bfa;
}

.ribbon-3 {
    background-color: var(--ribbon-bgcolor);
    color: var(--ribbon-color);
}

.ribbon-3 span::after {
    background-color: var(--ribbon-shadow-color);
}

.ribbon-3::after {
    border-top-color: var(--ribbon-bgcolor);
}


/* END - Ribbon style */

.label {
    border: 1px solid;
    border-radius: 0.25rem;
    padding: 0.47rem 0.95rem;
    display: inline-block;
    color: var(--bs-light);
    font-size: 12px;
}

.label.label-danger {
    border-color: rgba(255, 141, 106, 0.466);
    background-color: rgb(246, 222, 218);
    color: rgb(255, 90, 41);
}

.label.label-success {
    border-color: rgba(105, 195, 145, 0.466);
    background-color: rgb(220, 248, 226);
    color: rgb(37, 160, 68);
}

.label.label-info {
    border-color: rgba(102, 178, 255, 0.466);
    background-color: rgb(217, 235, 255);
    color: rgb(0, 112, 230);
}

.label.label-primary {
    border-color: rgba(102, 102, 255, 0.466);
    background-color: rgb(224, 224, 255);
    color: rgb(51, 51, 255);
}

.label.label-warning {
    border-color: rgba(255, 193, 7, 0.466);
    background-color: rgb(255, 243, 205);
    color: rgb(255, 176, 7);
}

.border-double-5 {
    border-left: 5px double;
    border-bottom: 0;
}

.border-red {
    border-color: #fc7f7f;
}

.border-orange {
    border-color: #fdb24f;
}

.border-yellow {
    border-color: #ffe711;
}

.border-green {
    border-color: #17dd42;
}

.border-blue {
    border-color: #FF8600;
}

.border-purple {
    border-color: #bf7ffc;
}

.border-black {
    border-color: #171a18;
}

.border-white {
    border-color: #ffffff;
}

.border-brown {
    border-color: #995e56;
}


/* end -  project section */

/* BEGIN -  project module */
.image-3-gallery .img-wrapper {
    display: none;
}

.image-3-gallery .img-wrapper:nth-child(-n+3) {
    display: block;
}

.image-3-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    width: 100%;
    margin-bottom: 20px;
}

.image-3-gallery .img-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.image-3-gallery .img-wrapper:nth-child(1) {
    grid-column: 1 / span 2;
}

.image-3-gallery .img-wrapper:nth-child(1) img {
    aspect-ratio: 21/9;
}

.image-3-gallery .img-wrapper:nth-child(2),
.image-3-gallery .img-wrapper:nth-child(3) {
    aspect-ratio: 16/9;
}

.image-3-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid var(--bs-gray-300);
    border-radius: 5px;
}

.image-3-gallery.has-more-content .img-wrapper:nth-child(3)::after {
    content: "+" attr(data-remaining-count);
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.7) 100%);
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    border-radius: 5px;
}

.fs-7 {
    font-size: 12px;
}

.fs-8 {
    font-size: 10px;
    font-weight: 600;
}

.file-list .file-item {
    position: relative;
}

.file-list .file-item .file-actions {
    display: none;
}

.file-list .file-item:hover .file-actions {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 60px;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
    transition: all 0.3s ease;
}

.file-list .file-item .file-actions a {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
    background: #ebebff;
    font-size: 17px;
}

.file-list .file-item .file-actions a[target="_blank"] {
    background-color: var(--bs-gray-200);
    color: var(--bs-dark);
}

.file-list .file-item .file-actions a[download] {
    background-color: var(--bs-gray-dark);
    color: white;
    border-radius: 0 5px 5px 0;
}

.w-2 {
    width: .5rem;
}

.h-2 {
    height: .5rem;
}

.badge {
    --badge-bgcolor: var(--bs-dark);
    --badge-color: var(--bs-dark);
    color: var(--badge-color) !important;
}

/*  */
.badge-red {
    --badge-bgcolor: #ffd7d775;
    --badge-color: #fc7f7f;

}

.badge-orange {
    --badge-bgcolor: #ffe8d08a;
    --badge-color: #fdb24f;
}

.badge-yellow {
    --badge-bgcolor: #fff9c2;
    --badge-color: #f98f66;
}

.badge-green {
    --badge-bgcolor: #dfffde;
    --badge-color: #24bb18;
}

.badge-black {
    --badge-bgcolor: #b7b7b7;
    --badge-color: #171a18;
}

.badge-white {
    --badge-bgcolor: #e0dfe7;
    --badge-color: #ffffff;
}

.badge-brown {
    --badge-bgcolor: #d8a59e6c;
    --badge-color: #995e56;
}

.badge-blue {
    --badge-bgcolor: #e6edff;
    --badge-color: #FF8600;
}

.badge-purple {
    --badge-bgcolor: #f1e2ff;
    --badge-color: #8126d7;
}

.badge.badge-red {
    color: var(--badge-color);
    background: var(--badge-bgcolor);
}

.badge.badge-orange {
    color: var(--badge-color);
    background: var(--badge-bgcolor);
}

.badge.badge-yellow {
    color: var(--badge-color);
    background: var(--badge-bgcolor);
}

.badge.badge-green {
    color: var(--badge-color);
    background: var(--badge-bgcolor);
}

.badge.badge-blue {
    color: var(--badge-color);
    background: var(--badge-bgcolor);
}

.badge.badge-purple {
    color: var(--badge-color);
    background: var(--badge-bgcolor);
}

.badge.badge-black {
    color: var(--badge-color);
    background: var(--badge-bgcolor);
}

.badge.badge-white {
    color: var(--bs-dark);
    background: var(--badge-bgcolor);
}

.badge.badge-brown {
    color: var(--badge-color);
    background: var(--badge-bgcolor);
}

.badge .badge-circle {
    background: var(--badge-color);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50% !important;
    display: inline-block !important;
}


.project-module-project-link {
    padding: 6px;
    font-size: 12px;
    border-radius: 5px;
    background: #cfcfcf59;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* END -  project module */

/* BEGIN -  sub task list */
.timeline-1 {
    position: relative;
}

.timeline-1::after {
    content: "";
    background: #b9b9b95c;
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 13px;

}

.timeline-1 .timeline-data {
    padding-left: 50px;
    position: relative;
}

.timeline-1 .timeline-data .card {
    border: 1px dashed #a0a0a0;
}

.timeline-1 .timeline-data .card:before {
    content: "";
    position: absolute;
    top: 12px;
    right: 100%;
    height: 0;
    width: 0;
    border: 10px solid #ff101000;
    border-right: 10px solid #d4d4d4;
}

.timeline-1 .timeline-data .number-circle {
    position: absolute;
    z-index: 5;
    left: -6px;
    border: 1px solid #d5d5d5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 38px;
    top: 5px;
    font-size: 19px;
    background: var(--bs-white);
    color: var(--bs-primary);
    border-color: var(--bs-primary);

}


.timeline-1 .timeline-data .card .card-header {

    padding: 10px;
}

.timeline-1 .timeline-data .card .card-body {
    padding: 10px;
}

.timeline-1 .timeline-data .card .card-footer {
    padding: 10px;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar.avatar-sm {
    width: 30px;
    height: 30px;
}

.status-radios .status-btn {
    border: 1px solid transparent;
    transition: all 0.2s ease;
    cursor: pointer;
}

.status-radios .status-btn.status-pending {
    background-color: #ebf1ff94;
    color: #FF8600;
    border-color: #436ff1;
}

.status-radios .status-btn.status-pending:hover,
.status-radios input:checked+.status-btn.status-pending {
    background-color: #FF8600;
    color: #fff;
}

.status-radios .status-btn.status-hold {
    background-color: #fffbf799;
    color: #fdb24f;
    border-color: #faa73b;
}

.status-radios .status-btn.status-hold:hover,
.status-radios input:checked+.status-btn.status-hold {
    background-color: #fdb24f;
    color: #fff;
}

.status-radios .status-btn.status-progress {
    background-color: #fffef8;
    color: #dfb612;
    border-color: #e9d900;
}

.status-radios .status-btn.status-progress:hover,
.status-radios input:checked+.status-btn.status-progress {
    background-color: #ffe711;
    color: #555;
}

.status-radios .status-btn.status-completed {
    background-color: #eaffed;
    color: #35b751;
    border-color: #35b751;
}

.status-radios .status-btn.status-completed:hover,
.status-radios input:checked+.status-btn.status-completed {
    background-color: #35b751;
    color: #fff;
}

.list-row-card.deleting,
.list-row-card.deleting .type,
.list-row-card.deleting .size {
    color: #660404;
}

/* END -  sub task list */

.show-password-btn {
    border: 0;
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 7px;
    z-index: 10;
}

tr.deleting td,
tr.deleting th,
tr.deleting a {
    background: var(--bs-danger-bg-subtle);
    color: var(--bs-danger);
}

.password-options {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.password-options .option-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid var(--bs-gray-300);
    padding: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--bs-gray-600);
}

.pe-35px {
    padding-right: 35px !important;
}

.password-options .option-circle i {
    font-size: 24px;
    margin-bottom: 5px;
}

/* Highlight selected option */
.password-options input[type="radio"]:checked+.option-circle {
    border-color: var(--bs-primary);
    color: var(--bs-primary);
}

.password-options .option-circle i {
    font-size: 44px;
}

/* start smooth circle progressbar */

.circular-progress {
    position: relative;
    width: 100px;
    height: 100px;
}

.circular-progress svg {
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
}

.circular-progress circle {
    stroke-width: 10;
    fill: none;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.3s ease;
}

.circular-progress circle:nth-of-type(1) {
    stroke: #dee2e6;
}

.circular-progress circle:nth-of-type(2) {
    stroke: var(--bs-primary);
    stroke-dasharray: 251.2;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.1s linear;
}

.circular-progress .pct {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-weight: 600;
}

.max-square-40 {
    max-width: 40px;
    max-height: 40px;
}

.max-square-50 {
    max-width: 50px;
    max-height: 50px;
}

.max-square-60 {
    max-width: 60px;
    max-height: 60px;
}

.square-40 {
    width: 40px;
    height: 40px;
}

.square-50 {
    width: 50px;
    height: 50px;
}

.square-60 {
    width: 60px;
    height: 60px;
}


.actionable-content.editing-enabled .edit-btn {
    display: block;
}

.actionable-content .edit-btn {
    display: none;
}

.actionable-content .delete-btn {
    display: none;
}

.actionable-content.deletion-enabled .delete-btn {
    display: block;
}

.actionable-content form.delete-form {
    display: none;
}

.actionable-content.deletion-enabled form.delete-form {
    display: block;
}

.actionable-content .deleting,
.actionable-content .deleting span,
.actionable-content .deleting h5,
.actionable-content .deleting img,
.actionable-content .deleting a {
    background: unset;
    color: var(--bs-danger);
}

.actionable-content .deleting .text-dark {
    background: unset;
    color: var(--bs-danger-text-emphasis);
}


.note-toolbar {
    background-color: var(--bs-light-bg-subtle) !important;
}

.note-statusbar {
    background-color: var(--bs-light-bg-subtle) !important;
}

.note-editor.note-airframe,
.note-editor.note-frame {
    border: 1px solid var(--bs-gray-300) !important;
}

.top-4-px {
    top: 4px;
}


.skill-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 10px;
    border: 1px solid var(--bs-gray-400);
    border-radius: 5px;

}

.skill-badge .skill_name,
.skill-badge .percentage {
    font-size: 12px;
}

.skill-badge .percentage {
    font-weight: bolder;
    margin-left: 30px;
}

.skill-badge .close-btn {
    color: var(--bs-danger);
    font-size: 22px;
    line-height: 16px;
    cursor: pointer;
    user-select: none;
    margin-left: 10px;
}

.text-italic {
    font-style: italic;
}

.profile-edit-image-label {
    right: 0;
    font-size: 20px;
    padding: 5px;
    border-radius: 50%;
    background: var(--bs-light-bg-subtle);
    width: 35px;
    height: 36px;
    border: 1px solid var(--bs-gray-400);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

.btn-facebook {
    background-color: var(--bs-dark-blue);
    border-color: var(--bs-dark-blue);
}

.btn-facebook:hover {
    transition: all 0.2s ease;
    background-color: var(--bs-dark-blue);
    border-color: var(--bs-dark-blue);
    opacity: 0.9;
}

.custom-popover {
    --bs-popover-max-width: 400px;
}

.input-group .select2-container {
    width: auto !important;
}

#add-digest-form .input-group .select2-container img {
    max-width: 20px;
}

#add-digest-form .input-group .select2-container img {
    max-width: 20px;
}

.visibility-badge {
    width: fit-content;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px 13px;
    border: 1px solid var(--bs-gray-300);
    border-radius: 50px;
}

@media (max-width: 480px) {
    .visibility-badge {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
      .visibility-badge .text{
        display: none;
      }
}
