#editor{
    border: none !important;
}
#editor .ce-block__content{
    max-width: unset !important;
    margin-left: 45px;
}

#editor .ce-toolbar__content{
 max-width: unset !important;
}

#editor .ce-toolbar__actions{
    left: -10px;
}
