#editorjs-editor {
    border: none !important;
    min-height: 150px !important;
}

#editorjs-editor .ce-block__content {
    max-width: unset !important;
    margin-left: 45px;
}

#editorjs-editor .ce-toolbar__content {
    max-width: unset !important;
}

#editorjs-editor .ce-toolbar__actions {
    left: -10px;
}

#editorjs-editor .ce-code__textarea.cdx-input {
    min-height: 130px;
}

#editorjs-editor .ce-rawtool__textarea {
    min-height: 130px;
}

pre#ob-editorjs-output {
    font-family: inherit;
    font-size: 0.93rem;
}

pre button.code-copy-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    color: white;
    background: transparent;
    font-size: 18px;
    padding: 0;
    margin: 2px;
}

#editorjs-editor .codex-editor__redactor {
    padding-bottom: 100px !important;
}

@media (max-width: 450px) {
    #editorjs-editor .ce-block__content {
        margin-left: unset;
    }
}

#editorjs-editor .cdx-input.image-tool__caption {
    background-color: #ffffffbf !important;
}


/* PREVIEW STYLE START */
.editorjs-preview {
    line-height: 1.6;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}

.editorjs-preview h1,
.editorjs-preview h2,
.editorjs-preview h3,
.editorjs-preview h4,
.editorjs-preview h5,
.editorjs-preview h6 {
    margin: 1em 0 0.5em;
    font-weight: bold;
}

.editorjs-preview p {
    margin: 0.5em 0;
}

.editorjs-preview ul,
.editorjs-preview ol {
    padding-left: 1.5em;
    margin: 0.5em 0;
}

.editorjs-preview blockquote {
    border-left: 4px solid #FF8600;
    padding-left: 1em;
    color: #FF8600;
    margin: 1em 0;
    font-style: italic;
    max-width: 100%;
    text-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #8ca4ea17;
}

.editorjs-preview blockquote cite {
    display: block;
    color: #8574ff;
}

.editorjs-preview hr {
    border: 0;
    border-top: 1px solid #959595;
    margin: 1em 0;
}

.editorjs-preview a {
    color: #3498db;
    text-decoration: underline;
}

.editorjs-preview figure {
    margin: 1em 0;
}

.editorjs-preview figure img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.editorjs-preview figcaption {
    text-align: center;
    font-size: 0.9em;
    color: #666;
    margin-top: 0.3em;
}

.editorjs-preview table {
    border-collapse: collapse;
    margin: 1em 0;
}

.editorjs-preview table td,
.editorjs-preview table th {
    border: 1px solid #ddd;
    padding: 6px 8px;
}

.editorjs-preview pre {
    background: #f5f5f5;
    padding: 1em;
    overflow-x: auto;
    position: relative;
}

.image-tool--withBackground .image-tool__image {
    background-color: #e8e8e8 !important;
}

figure {
    width: fit-content;
}

figure figcaption {
    padding: 5px;
    max-width: 100%;
    text-wrap: wrap;
}

.editorjs-preview ul.editorjs-checklist li {
    display: flex;
    align-items: center;
    margin: 0.3em 0;
}

.editorjs-preview ul.editorjs-checklist li input[type="checkbox"] {
    margin-right: 0.5em;
}

.image-tool--withBorder .image-tool__image {
    width: fit-content;
}

.image-tool--withBorder.image-tool--stretched .image-tool__image {
    width: 100%;
}

.editorjs-preview figure img {
    margin: unset;
    width: fit-content;
}

.editorjs-preview figure.figure-border {
    border: 2px solid #ddd;
    width: fit-content;

}

.editorjs-preview figure.figure-border img {
    margin: 0 auto;
}

.editorjs-preview figure.figure-stretched,
.editorjs-preview figure.figure-stretched {
    width: 100%;
}

.editorjs-preview figure.figure-background {
    background: #dddddd6c;

}

.editorjs-preview figure.figure-background img {
    max-width: 600px;
    margin: auto;
    padding: 10px;

}

.editorjs-preview figure.figure-stretched img {
    text-align: left;
}

.editorjs-preview figure.figure-stretched img {
    width: 100%;

}


.editorjs-preview ul li input[type="checkbox"] {
    appearance: none;
    /* remove default */
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 1.5em;
    height: 1.5em;
    border: 1px solid #369effc9;
    /* primary color */
    border-radius: 5px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    transition: border-color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    margin-right: 0.5em;
}

/* Ripple effect */
.editorjs-preview ul li input[type="checkbox"]::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.3em;
    height: 0.3em;
    background: #369fff;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
}

/* Checkmark */
.editorjs-preview ul li input[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: 0.35em;
    height: 0.7em;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    top: 0.07em;
    left: 0.34em;
    transform: rotate(45deg) scale(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease;
}

/* Checked state */
.editorjs-preview ul li input[type="checkbox"]:checked {
    background-color: #369effc4;
}

.editorjs-preview ul li input[type="checkbox"]:checked::before {
    transform: rotate(45deg) scale(1);
}

.editorjs-preview ul li input[type="checkbox"]:checked::after {
    animation: ripple-editorjs 0.6s ease-out;
}

/* Focus */
.editorjs-preview ul li input[type="checkbox"]:focus {
    outline: none;
    box-shadow: 0 0 0 0.2em #369eff56;
}

/* Ripple animation */
@keyframes ripple-editorjs {
    from {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }

    to {
        transform: translate(-50%, -50%) scale(12);
        opacity: 0;
    }
}

/* PREVIEW STYLE END */
